
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.parent{
    width:1280px;
    height: 560px;
    border-radius: 24px;
    background-color: #C6E4D6FF;
    padding: 117px 60px ;
    
}
.paragraph{
color: #0e0e0e80FF;
font-weight: 700;
font-size: 30px;
}
.heading{
    color: #0E0E0EFF;
    font-weight: bold;
    font-size: 56px;
}
.btn{
    width: 270px;
    height: 56px;

    background-color: #006A50FF;
    border: #006A50FF;
    color: #FFFFFFFF ;
    font-weight:600 ;
    font-size: 18px;
    text-align: center;
line-height: 56px;
padding: 34px 17px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
}
.btn:hover{
    background-color: greenyellow
    ;
    color: black;
}
.background{

    background-color: #C6E4D6 ;
    background-size: cover;
    border-radius: 24px;
}
.image{
    float: right;
    width: 475px;
    height: 400px;
    background-image: url("../assets/hero.png");
    background-size: contain;
    background-repeat: no-repeat;

}
.progress-section{
    width: 1280px;
    height: 325px;
    margin-top: 80px;
    margin-bottom: 80px;
o

}
.progress-content{
    width: 1280px;
    height: 245px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}
.progress{
    width: 302px;
    height: 245px;
    border-radius: 16px;
    color: #FFFFFFFF;
    box-shadow: #0E0E0ED9FF;
    padding: 24px;


}
.piller{
    color: #0E0E0EFF;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 32px;

}
.power{
    color: #0E0E0ECC;
    font-weight: bold;
    font-size: 20px;


}
.weak{
    color: #0E0E0EB3;
    font-weight: 400;
    font-size: 16px;
}
.progress:hover{
    background-color: #ff5763;
    color: black;

} 
.aim{
    width: 1280PX;
    height: 120PX;
    margin-bottom: 32PX;



}
.future-plan{
    color: #0E0E0EFF;
    font-weight: bold;
    font-size: 40px;
}
.category{
    color: #0E0E0EB3;
    font-weight: 600;
    font-size: 13px;
}
.future-section{
    width: 1280px;
    height: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    

}
.blue{
    background-color: #e3f2fdFF;
    width: 410px;
    height:325px;
    border-radius: 16px;
    fill: #5490F5B3;
    stroke: #5490F5;
    gap: 24PX;
    padding: 32px;
    margin: 0 24px 0 0;
height: auto;
}
.green{ background-color: #e8f5e9FF;
    width: 410px;
    height:325px;
    border-radius: 16px;
    fill: #C6E4D6;
    stroke: #09A15C;
    gap: 24PX;
    padding: 32px;
    margin: 0 24px 0 0;
height: auto;;

}
.yellow{
background-color: #fffde7FF;
    width: 410px;
    height:325px;
    border-radius: 16px;
    fill: #F7EBCF;
    stroke: #FFC239;
    gap: 24PX;
    padding: 32px;
    margin: 0 0 0 0 ;
height: auto;}
.development-bar{
    flex: 1;


}
.transformation{
    color: #0E0E0ECC;
    font-weight: bold;
    font-size: 20px;
}
.transformation-text{
    color: #0E0E0EB3;
    font-weight: 600;
    font-size: 16px;

}


.transformation-btn{
    left: 32px;
    top: 252px;
    width: 122px;
    height: 41px;

    border-radius: 8px; 
    

}
.lightblue{
    background-color: #5490F5FF ;
    color: white;
    border: #5490F5FF;

}
.lightgreen{
    background-color: #09A15CFF ;
    color: white;
    border: #09A15CFF;

}
.lightyellow{
    background-color: #FFC239FF ;
    color: white;
    border: #FFC239FF;

}
.transformation-btn:hover{
    background-color: white;
    color: black

}
.development-bar:hover{

    transform: translateY(-10px);
}

.speech{
    

    width: 1280px;
    height: 256px;
    text-align: left;
    margin: 32px 0 80px 0;
    background-color: #f9f9f9FF;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0,0,0.0.1);
    align-items: center;
    justify-content: flex-start;
}
.narration{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    color: #0E0E0ECC;

}
.president{
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
letter-spacing: 0%;
text-align: left;
color: #0E0E0ECC;

}
.news{
    width: 1280px;
    height: 120px;
    text-align: left;
    margin: 80px 0 32px 0;
    gap: 24px;
    
}
.report{
    color: #0E0E0EFF;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0%;
    line-height: 0;
    text-align: left;
}
.report-text{
    color: #0E0E0EB3;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0%;
    line-height: 24px;
    text-align: left;

}
.satellite{
    display: flex;
    

    width: 1280px;
    height: 400px;
    text-item: left;
    margin: 0 0 24px 0;
    background-color: #f9f9f9FF;
    border-radius: 24px;
    padding: 32px 48px;
    box-shadow: 0 4px 6px rgba(0,0,0.0.1);
    align-items: center;
    
}

.earth{
    left: 48px;
    top: 48px;
    width: 408px;
    height: 306px;
    margin: 48px 48px 48px 48px ;
    border-radius: 24px;
}
.bangladesh{

left: 488px;
    top: 56px;
    width: 744px;
    height: 290px;
    margin: 56px 48px 56px 0 ;
    gap: 12px;


}
.digital{
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0%;
    text-align: left;
    color: #0E0E0ECC;
}
.aljaz{
    width: 134px;
    height: 40px;

}
.time{
    left: 0;
    top: 102px;
    width: 744px;
    height: 24px;
    gap: 12px;
    color: #0E0E0EB3;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.aljaz-report{
    left: 0;
    top: 138px;
    width: 744px;
    height: 72px;

    color: #0E0E0EB3;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.click{ left: 0;
    top: 242px;
    width: 139px;
    height: 46px;
    border-radius: 8px;
    background-color: #006A50FF ;
    color: white;
    border: #006A50FF;
}
.click:hover{
    background-color: greenyellow;
    color: black;
}
.give-section{
    width: 1280px;
    height:464px ;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9FF;
    box-shadow: 0 4px 6px rgba(0,0,0.0.1);
    align-items: center;
    margin-top: 80px;

}
.Today{
    width: 1280px;
    height: 48px;
    color: #0E0E0EFF;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0%;
    text-align: center;

}
.help{
    left: 0;
    top: 72px;
    width: 1280px;
    height: 48px;
    gap: 24px;
    color: #0E0E0EB3;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

}
.taka{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    

}
.number-btn{ left: 0;
    top: 0;
    width: 240px;
    height: 128px;
    border-radius: 16px;
    background-color: #FFFFFFFF ;
    border: #FFFFFFFF;
    color: black;}

.hang{
    font-weight: bold;
    font-size: 40;
    color: #0E0E0ECC;


}
.other-amount{
    display: flex;
    justify-content: center;
    margin-top: 32px;

    
}
.one{
    left: 422.5px;
    top: 20px;
    width: 187px;
    height: 24px;
    padding: 20px 422.5px;
}
.done{
    display: flex;
    justify-content: center;
    align-items: center;


}
.donation-button{
    left: 564.5px;
    top: 408px;
    width: 151px;
    height: 56px;
    border-radius: 8px;
    background-color: #006A50FF ;
    color: white;
    border: #006A50FF;
    margin-top: 32px;
    margin-bottom: 80px;

}
.donation-button:hover{
    background-color: darkturquoise;

}
b{
    font-weight: bold;
    font-size: 40px;
}
.number-btn:hover{
    background-color: #D3D3D3;
    
}
.one:hover{
    background-color: #D3D3D3;
}

.sub-section{
    width: 1280px;
    height: 395px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #C6E4D6FF;
    box-shadow: 0 4px 6px rgba(0,0,0.0.1);
    align-items: center;
    border-radius: 24px;
    margin-top: 80px;

}
.subscribe{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0EFF;
    margin-bottom: 16px;
}
.nation{
     font-weight: 400;
    font-size: 16px;
    color: #0E0E0EB3;
    margin-bottom: 24px;
}
.gmail{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.email{
    width: 600px;
    height: 55px;
    border-radius: 10px 0px 0px 10px;
    padding: 0 40px ;

}
.confirm-btn{
    left: 600;
    top: 0px;
    width: 150px;
    height: 55px;

    border-radius: 0 10px 10px 0 ;
    background-color: #006A50FF ;
    color: white;
    border: #006A50FF;
    padding: 0 20px;

}
.email:hover{
    background-color: #D3D3D3 ;
    color: black;
}
.confirm-btn:hover{
    background-color: deepskyblue;
    color: black;

}